{% load static %}
<footer>
    <div class="footer-container1">
        <div class="footer-socials-container">
            <a href="https://facebook.com" target="_blank" class="social-icon">
                <i class="fab fa-facebook-f"></i> <!-- Facebook icoon -->
            </a>
            <a href="https://twitter.com" target="_blank" class="social-icon">
                <i class="fab fa-twitter"></i> <!-- Twitter icoon -->
            </a>
            <a href="https://instagram.com" target="_blank" class="social-icon">
                <i class="fab fa-instagram"></i> <!-- Instagram icoon -->
            </a>
            <a href="https://linkedin.com" target="_blank" class="social-icon">
                <i class="fab fa-linkedin-in"></i> <!-- LinkedIn icoon -->
            </a>
        </div>
        <div class="footer-nav-text-container">
            <ul class="footer-nav-list">
                <h3>Navigatie</h3>
                <li><a href="/home">Home</a></li>
                <li><a href="/films">Films</a></li>
                <li><a href="/events">Events and Specials</a></li>
                <li><a href="/locations">Locations</a></li>
                <li><a href="/info">Info</a></li>
            </ul>
            <ul class="footer-info-list">
                <h3>Info</h3>
                <li><a href="/info">Info</a></li>
                <li><a href="/faq">Veelgestelde Vragen</a></li>
                <li><a href="/#">Contact</a></li>
                <li><a href="/niewfbrief">Nieuwsbrief</a></li>
                <li><a href="/info">Anuleren tickets</a></li>
            </ul>
            <div class="footer-text-container">
                <ul class="footer-info-list">
                    <h3>Klantenservice</h3>
                    <li><a href="/support">Klantenservice</a></li>
                    <li><a href="/faq">Veelgestelde Vragen</a></li>
                    <li><a href="/privacy-policy">Privacybeleid</a></li>
                    <li><a href="/sitemap">Sitemap</a></li>
                </ul>
                <p>&copy; 2025 MBO Cinema. Alle rechten voorbehouden.</p>
            </div>
        </div>
    </div>
    <div class="footer-container2">
        <h3>Meld je aan voor onze nieuwsbrief</h3>
        <p>Blijf op de hoogte van de nieuwste films, aanbiedingen en evenementen. Schrijf je nu in!</p>
        <input type="email" placeholder="Vul je e-mailadres in" aria-label="E-mailadres">
        <button type="submit">Inschrijven</button>
    </div>


</footer>