<!DOCTYPE html>
{% load static %}
<html lang="nl">
<head>
  <meta charset="UTF-8">
  <title>Inloggen / Registreren</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
  <link rel="stylesheet" href="{% static 'css/style10.css' %}">
</head>
<body>
<header>
  {% include 'components/navigationbar.html' %}
</header>
<main>
  <section>
    <div class="account-title-container">
      <h1>Mijn account</h1>
    </div>
    <div class="content-text-container">
      <div class="account-content-container">
        {% if user.is_authenticated %}
        <div class="account-buttons-list">
          <button id="account-gegevens-button">Gegevens</button>
          <button id="account-tickets-button">Tickets</button>
          <button id="account-watchlist-button">Watchlist</button>
          <button id="account-reserveringen-button">Reserveringen</button>
        </div>
        <div id="account-gegevens-container">
          <h1>Mijn Gegevens</h1>
          <form action="{% url 'update_account_details' %}" method="post">
            {% csrf_token %}
            <div class="account-update-container">
              <ul class="account-gegevens-container-list">
                <li>
                  <label for="geboortedatum_update">Geboortedatum:</label>
                  <input type="date" id="geboortedatum_update" name="geboortedatum_update" value="{{ user_profile.birthday|date:'Y-m-d' }}">
                </li>
                <li>
                  <label for="voornaam_update">Voornaam:</label>
                  <input type="text" id="voornaam_update" name="voornaam_update" value="{{ user.first_name }}">
                </li>
                <li>
                  <label for="achternaam_update">Achternaam:</label>
                  <input type="text" id="achternaam_update" name="achternaam_update" value="{{ user.last_name }}">
                </li>
                <li>
                  <label for="telefoonnummer_update">Telefoonnummer:</label>
                  <input type="text" id="telefoonnummer_update" name="telefoonnummer_update" value="{{ user_profile.phone }}">
                </li>
              </ul>
              <ul class="account-gegevens-container-list">
                <li>
                  <label for="gender_update">Geslacht:</label>
                  <select id="gender_update" name="gender_update">
                    <option value="M" {% if user_profile.gender == "M" %}selected{% endif %}>Man</option>
                    <option value="F" {% if user_profile.gender == "F" %}selected{% endif %}>Vrouw</option>
                    <option value="O" {% if user_profile.gender == "O" %}selected{% endif %}>Anders</option>
                  </select>
                </li>
                <li>
                  <label for="postcode_update">Postcode:</label>
                  <input type="text" id="postcode_update" name="postcode_update" value="{{ user_profile.postcode }}" required>
                </li>
                <li>
                  <label for="email_update">Email:</label>
                  <input type="text" id="email_update" name="email_update" value="{{ user.email }}" required>
                </li>
                <li class="password-container">
                  <label for="wachtwoord_update">Wachtwoord:</label>
                  <input type="password" id="wachtwoord_update" name="wachtwoord_update" readonly>
                  <a href="{% url 'password_change' %}" class="reset-password-icon">
                    <i class="fas fa-arrow-right"></i>
                  </a>
                </li>
              </ul>
            </div>
            <div class="account-gegevens-buttons">
              <button type="submit" name="action" value="update">Gegevens bijwerken</button>
              <button type="submit" name="action" value="logout">Uitloggen</button>
            </div>
          </form>
        </div>
        <div id="account-tickets-container">
          <h1>Tickets</h1>
          {% if tickets %}
          <ul>
            {% for ticket in tickets %}
            <li>
              <div class="account-tickets-list-container">
                <img src="{{ ticket.film.poster.url }}{{ ticket.event.thumbnail.url }}" alt="{{ ticket.film.title }}">
                <div class="account-tickets-list-info-container">
                  <div class="film-info">
                    <h1>{{ ticket.film.title }}{{ ticket.event.title }}</h1>
                    <p>Genre: {{ ticket.film.genre }}{{ ticket.event.genre }}</p>
                    <p>Zaal: {{ ticket.zaal }}</p>
                    <p>Gereserveerd op: {{ ticket.reserved_on }}</p>
                    <p>Tijdstip: {{ ticket.showtime }}</p>
                    <p>Rij: {{ ticket.row }}</p>
                    <p>Plaats: {{ ticket.seat }}</p>
                    <p>Vip: {{ ticket.vip }}</p>
                    <p>Type: {{ ticket.type }}</p>
                    <p>Prijs: {{ ticket.price }}</p>
                  </div>
                  <form action="{% url 'remove_ticket_account' ticket.id %}" method="POST" style="display:inline;">
                    {% csrf_token %}
                    <button type="submit">Verwijder</button>
                  </form>
                </div>
              </div>
            </li>
            {% endfor %}
          </ul>
          {% else %}
          <p>Je hebt nog geen tickets.</p>
          <a href="/search"><button>Bestel tickets</button></a>
          {% endif %}
        </div>
        <div id="account-watchlist-container">
          {% if watchlist %}
          <h1>Watchlist</h1>
          <ul>
            {% for movie in watchlist.movie.all %}
            <li>
              <div class="account-tickets-list-container">
                <img src="{{ movie.poster.url }}" alt="{{ movie.title }}">
                <div class="account-tickets-list-info-container">
                  <div class="film-info">
                    <h1>{{ movie.title }}</h1>
                    <p>Genre: {{ movie.genre }}</p>
                    <p>Zaal: {{ movie.zaal }}</p>
                  </div>
                  <form method="POST" action="{% url 'remove_from_watchlist' movie.id %}">
                    {% csrf_token %}
                    <button type="submit">Verwijder</button>
                  </form>
                </div>
              </div>
            </li>
            {% endfor %}
          </ul>
          {% else %}
          <p>Je watchlist is leeg.</p>
          {% endif %}
        </div>
        <div id="account-reserveringen-container">
          <h1>Reserveringen</h1>
          {% if reserveringen %}
          <ul>
            {% for reservatie in reserveringen %}
            <li>
              <div class="account-tickets-list-container">
                <img src="{{ reservatie.film.poster.url }}{{ reservatie.event.thumbnail.url }}" alt="{{ reservatie.film.title }}">
                <div class="account-tickets-list-info-container">
                  <div class="film-info">
                    <h1>{{ reservatie.film.title }}{{ reservatie.event.title }}</h1>
                    <p>Genre: {{ reservatie.film.genre }}{{ reservatie.event.genre }}</p>
                    <p>Zaal: {{ reservatie.zaal }}</p>
                    <p>Gereserveerd op: {{ reservatie.reserved_on }}</p>
                    <p>Tijdstip: {{ reservatie.showtime }}</p>
                    <p>Rij: {{ reservatie.row }}</p>
                    <p>Plaats: {{ reservatie.seat }}</p>
                    <p>Vip: {{ reservatie.vip }}</p>
                    <p>Type: {{ reservatie.type }}</p>
                    <p>Prijs: {{ reservatie.price }}</p>
                  </div>
                  <form action="{% url 'remove_reservation' reservatie.id %}" method="POST" style="display:inline;">
                    {% csrf_token %}
                    <button type="submit">Verwijder</button>
                  </form>
                </div>
              </div>
            </li>
            {% endfor %}
          </ul>
          {% else %}
          <p>Je hebt nog geen reserveringen.</p>
          <a href="/search"><button>Bestel tickets</button></a>
          {% endif %}
        </div>
        {% else %}
        <div class="auth-buttons">
          <button id="login-btn">Inloggen</button>
          <button id="register-btn">Registreren</button>
        </div>
        <div id="login-form" class="form-container">
          <form class="account-form-content" method="post">
            {% csrf_token %}
            <div class="label-input-container">
              <label for="username">Gebruikersnaam:</label>
              <input type="text" id="username" name="username" required>
            </div>
            <div class="label-input-container">
              <label for="password">Wachtwoord:</label>
              <input type="password" id="password" name="password" required>
            </div>
            <button class="login-form-subit-button" type="submit" name="login">Inloggen</button>
            <div class="wachtwoord-vergeten-container">
              <a href="{% url 'password_reset' %}">Wachtwoord vergeten?</a>
            </div>
          </form>
        </div>

        <div id="register-form" class="form-container">
          <form class="account-form-content" method="post">
            {% csrf_token %}
            <div class="register-form-content-container">
              <div class="register-content-container">
                <div class="label-input-container">
                  <label for="gebruikersnaam">Gebruikersnaam:</label>
                  <input type="text" id="gebruikersnaam" name="gebruikersnaam" required>
                </div>
                <div class="label-input-container">
                  <label for="email">Email:</label>
                  <input type="text" id="email" name="email" required>
                </div>
                <div class="label-input-container">
                  <label for="voornaam">Voornaam:</label>
                  <input type="text" id="voornaam" name="voornaam" required>
                </div>
                <div class="label-input-container">
                  <label for="postcode">Postcode:</label>
                  <input type="text" id="postcode" name="postcode" required>
                </div>
                <div class="label-input-container">
                  <label for="wachtwoord">Wachtwoord:</label>
                  <input type="password" id="wachtwoord" name="wachtwoord" required>
                </div>
                <div class="account-checkbox-container">
                  <label for="nieuwsbrief">Nieuwsbrief</label>
                  <input type="checkbox" id="nieuwsbrief" name="nieuwsbrief">
                </div>
              </div>
              <div>
                <div class="register-content-container">
                  <div class="label-input-container">
                    <label for="gender">Geslacht:</label>
                    <select id="gender" name="gender">
                      <option value="M">Man</option>
                      <option value="F">Vrouw</option>
                      <option value="O">Anders</option>
                    </select>
                  </div>
                  <div class="label-input-container">
                    <label for="telefoonnummer">Telefoonnummer (optioneel):</label>
                    <input type="tel" id="telefoonnummer" name="telefoonnummer">
                  </div>
                  <div class="label-input-container">
                    <label for="achternaam">Achternaam:</label>
                    <input type="text" id="achternaam" name="achternaam" required>
                  </div>
                  <div class="label-input-container">
                    <label for="geboortedatum">Geboortedatum:</label>
                    <input type="date" id="geboortedatum" name="geboortedatum" required>

                  </div>
                  <div class="label-input-container">
                    <label for="bevestigwachtwoord">Bevestig Wachtwoord:</label>
                    <input type="password" id="bevestigwachtwoord" name="bevestigwachtwoord" required>
                  </div>
                </div>
              </div>
            </div>
            <label>Door een Mijn MBOCinema-account aan te maken stem je automatisch in met ons privacystatement.</label>
            <button class="login-form-subit-button" type="submit" name="register">Registreren</button>
          </form>
        </div>
        {% endif %}
      </div>
      {% if not user.is_authenticated %}
      <div class="account-text-container">
        <h2>Wat biedt MBO Cinema?</h2>
        <ul>
          <li>🎟 Altijd jouw tickets binnen handbereik<br>Geen gedoe meer met papieren tickets: toon ze direct vanaf je telefoon.</li>
          <li>⚡ Sneller en makkelijker boeken<br>Met één klik reserveer je jouw favoriete films en stoelen.</li>
          <li>🎁 Vouchers en cadeaukaarten beheren<br>Beheer en gebruik je cadeaubonnen en kortingscodes moeiteloos.</li>
          <li>⭐ Stel jouw persoonlijke kijklijst samen<br>Sla films op die je niet wilt missen en bekijk ze later.</li>
          <li>🎥 Jouw beoordelingen en favorieten op één plek<br>Houd je favoriete films en reviews altijd overzichtelijk bij.</li>
        </ul>
      </div>
      {% endif %}
    </div>
  </section>
</main>
<footer>
  {% include 'components/footer.html' %}
</footer>
<script src="{% static 'js/account.js' %}"></script>
</body>
</html>
