<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link rel="stylesheet" href="{% static 'css/style10.css' %}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
<header>
  {% include 'components/navigationbar.html' %}
</header>
<main>
  <section class="winkelmand-tickets-section">
    <h1>Checkout</h1>

    <h3>Jouw Tickets:</h3>
    <ul>
      {% for ticket in tickets %}
      <li>
        <div class="account-tickets-list-container">
          <img src="{{ ticket.film.poster.url }}" alt="{{ ticket.film.title }}">
          <div class="account-tickets-list-info-container">
            <div class="film-info">
              <h1>{{ ticket.film.title }}{{ ticket.event.title }}</h1>
              <p>Genre: {{ ticket.film.genre }}{{ ticket.event.genre }}</p>
              <p>Zaal: {{ ticket.zaal }}</p>
              <p>Gereserveerd op: {{ ticket.reserved_on }}</p>
              <p>Tijdstip: {{ ticket.showtime }}</p>
              <p>Rij: {{ ticket.row }}</p>
              <p>Plaats: {{ ticket.seat }}</p>
              <p>Vip: {{ ticket.vip }}</p>
              <p>Type: {{ ticket.type }}</p>
              <p>Prijs: {{ ticket.price }}</p>
            </div>
            <div class="ticket-quantity">
              <button class="decrease" data-ticket-id="{{ ticket.id }}">-</button>
              <input type="number" id="ticket_quantity_{{ ticket.id }}" name="ticket_quantity_{{ ticket.id }}" value="1" min="1"/>
              <button class="increase" data-ticket-id="{{ ticket.id }}">+</button>
            </div>
            <input type="hidden" class="ticket-price" id="ticket_price_{{ ticket.id }}" value="{{ ticket.price }}">
          </div>
        </div>
        <!-- Voeg hidden data attributen toe die we in JS kunnen uitlezen -->
        <div class="ticket-type" style="display:none;">{{ ticket.type }}</div>
        <div class="ticket-seat-number" style="display:none;">{{ ticket.seat }}</div>
        <div class="ticket-seat-row" style="display:none;">{{ ticket.row }}</div>
        <div class="ticket-seat-room" style="display:none;">{{ ticket.zaal.id }}</div>
        <div class="ticket-vip" style="display:none;">{{ ticket.vip }}</div>
        <div class="ticket-movie-id" style="display:none;">{{ ticket.film.id }}</div>
        <div class="ticket-event-id" style="display:none;">{{ ticket.event.id }}</div>
        <div class="ticket-showtime-id" style="display:none;">{{ ticket.showtime.id }}</div>
      </li>
      {% empty %}
      <li>Je hebt nog geen tickets gekocht.</li>
      {% endfor %}
    </ul>


    <h3>Betaal methode</h3>

    <h3>Totaal: €<span id="total_price">{{ total_price }}</span></h3>
    <form method="POST" action="{% url 'create_reservation' %}" id="checkout-form">
      {% csrf_token %}
      <!-- Deze velden worden dynamisch ingevuld door JavaScript -->
      <!-- De tickets voor de geselecteerde stoelen zullen hier worden toegevoegd -->
      <button type="submit" id="submit-checkout">Nu Afrekenen</button>
    </form>
  </section>
</main>
<footer>
  {% include 'components/footer.html' %}
</footer>
<script src="{% static 'js/checkout.js' %}"></script>
</body>
</html>

