<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
  <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
  <link rel="stylesheet" href="{% static 'css/style10.css' %}">
</head>
<body data-is-authenticated="{{ user.is_authenticated|yesno:'true,false' }}">
<header>
  {% include 'components/navigationbar.html' %}
</header>
<main>
  <div class="event-hero-image" style="background-image: url('{{ event_list.image.url }}');">
    <article>
      <h1>{{ event_list.title }}</h1>
      <p>{{ event_list.description }}</p>
    </article>
  </div>
  <div class="searchbar-and-filters-container">
    <div class="searchbar">
      <input type="text" placeholder="Zoeken..." id="search-input-search">
      <i id="searchbutton-search" class="fas fa-search" onclick="searchEvents()"></i>
    </div>
    <button id="filters-button"><i class="fas fa-filter"></i> Filters</button>
  </div>
  <div id="filters-container">
    <h2>Filters</h2>
    <div class="dropdown-filter-container">
      <div class="filter-group">
        <label for="genre">Genre</label>
        <select name="genre" id="genre">
          <option value="">Kies een genre</option>
          <option value="Action" {% if genre_filter == "Action" %}selected{% endif %}>Actie</option>
          <option value="Drama" {% if genre_filter == "Drama" %}selected{% endif %}>Drama</option>
          <option value="Comedy" {% if genre_filter == "Comedy" %}selected{% endif %}>Komedie</option>
          <option value="Horror" {% if genre_filter == "Horror" %}selected{% endif %}>Horror</option>
          <option value="Sci-Fi" {% if genre_filter == "Sci-Fi" %}selected{% endif %}>Science Fiction</option>
          <option value="Romance" {% if genre_filter == "Romance" %}selected{% endif %}>Romantiek</option>
        </select>
      </div>

      <div class="filter-group">
        <label for="pegi_rating">PEGI Rating</label>
        <select name="pegi_rating" id="pegi_rating">
          <option value="">Kies PEGI Rating</option>
          <option value="3" {% if pegi_filter == "3" %}selected{% endif %}>PEGI 3</option>
          <option value="7" {% if pegi_filter == "7" %}selected{% endif %}>PEGI 7</option>
          <option value="12" {% if pegi_filter == "12" %}selected{% endif %}>PEGI 12</option>
          <option value="16" {% if pegi_filter == "16" %}selected{% endif %}>PEGI 16</option>
          <option value="18" {% if pegi_filter == "18" %}selected{% endif %}>PEGI 18</option>
        </select>
      </div>

      <div class="filter-group">
        <label for="rating">Rating</label>
        <select name="rating" id="rating">
          <option value="">Kies Rating</option>
          <option value="1" {% if rating_filter == "1" %}selected{% endif %}>1</option>
          <option value="2" {% if rating_filter == "2" %}selected{% endif %}>2</option>
          <option value="3" {% if rating_filter == "3" %}selected{% endif %}>3</option>
          <option value="4" {% if rating_filter == "4" %}selected{% endif %}>4</option>
          <option value="5" {% if rating_filter == "5" %}selected{% endif %}>5</option>
        </select>
      </div>

      <div class="filter-group">
        <label for="zaal">Zaal</label>
        <select name="zaal" id="zaal">
          <option value="">Kies een zaal</option>
          {% for zaal in zalen %}
          <option value="{{ zaal.title }}" {% if zaal_filter == zaal.id|stringformat:"s" %}selected{% endif %}>{{ zaal.title }}</option>
          {% endfor %}
        </select>
      </div>


      <!-- Submit Button -->
      <button id="submit-button-filters">Filteren</button>
    </div>
  </div>
  <div class="events">
    <h1>Evenementen in deze lijst:</h1>
    <div class="events-lijst">
      {% for event in events_in_list %}
      <div class="event-container">
        <img src="{{ event.thumbnail.url }}" alt="{{ event.title }}">
        <div class="event-info-container">
            <div class="title-description-datum-container">
              <div>
                <h2>{{ event.title }}</h2>
                <p>Datum: {{ event.date }}</p>
                <p>Locatie: {{ event.location }}</p>
              </div>
              <p>{{ event.description }}</p>
            </div>
            <div class="event-button-container">
              <a href="/event/{{ event.id }}"><button>Bekijk</button></a>
              <a href="#">Meer info ></a>
            </div>
        </div>
      </div>
      {% empty %}
      <p>Geen evenementen gevonden in deze lijst.</p>
      {% endfor %}
    </div>
    <h1>Andere evenementen:</h1>
    <div class="andere-events-lijst">
      {% for event in events_outside_list %}
      <div class="event">
        <img src="{{ event.thumbnail.url }}" alt="{{ event.title }}">
      </div>
      {% endfor %}
    </div>

  </div>
</main>
<footer>
  {% include 'components/footer.html' %}
</footer>
<script src="{% static 'js/events.js' %}"></script>
</body>
</html>
