<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
  <link rel="stylesheet" href="{% static 'css/style10.css' %}">
</head>
<body>
<header>
  {% include 'components/navigationbar.html' %}
</header>
<main>
    <!-- Inhoud van de pagina -->
    <div class="content">
        <h1>Welkom op mijn website!</h1>
        <p>Hier is een voorbeeld van een achtergrondvideo.</p>
    </div>
    <h1>{{ event.title }}</h1>
    <p>{{ event.description }}</p>
    <p>{{ event.location }} zaal: {{ event.zaal }}</p>
    <p>{{ event.date }}</p>

    <img src="{{ event.poster.url }}" alt="{{ event.title }} poster">

</main>
<footer>
  {% include 'components/footer.html' %}
</footer>
<script src="{% static 'js/search.js' %}"></script>
</body>
</html>
