<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
    <link rel="stylesheet" href="{% static 'css/style10.css' %}">
</head>
<body>
    <header>
        {% include 'components/navigationbar.html' %}
    </header>
    <main>
        <section id="hero-slideshow" class="swiper-container">
            <div class="swiper-wrapper">
                <!-- Voeg hier je slides toe -->
                <div class="swiper-slide">
                    <img src="{% static 'images/hero-slide1.png' %}" alt="Slide 1">
                </div>
                <div class="swiper-slide">
                    <img src="{% static 'images/comingsoon.png' %}" alt="Slide 2">
                </div>
                <div class="swiper-slide">
                    <img src="{% static 'images/hero-slide1.png' %}" alt="Slide 3">
                </div>
            </div>
        </section>
        <section class="films-sectie">
            <h1>Nu in de bioscoop</h1>
            <div class="films-container">
                {% for movie in movies %}
                <div class="movie-item">
                    <img src="{{ movie.poster.url }}" alt="{{ movie.title }} poster">
                </div>
                {% endfor %}
            </div>
        </section>
        <section class="events-sectie">
            <h1>Events</h1>
            <div class="events-container">
                {% for event in events %}
                <div class="event-item">
                    <img src="{{ event.poster.url }}" alt="{{ event.title }} poster">
                </div>
                {% endfor %}
            </div>
        </section>
        <section class="comingsoon-sectie">
            <h1>Komt eraan</h1>
            <div class="comingsoon-container">
                {% for coming in coming_soon_releases %}
                <div class="comingsoon-item">
                    <img src="{{ coming.poster.url }}" alt="{{ coming.title }} poster">
                </div>
                {% endfor %}
            </div>
        </section>
        <section class="kinder-sectie">
            <div class="kinder-article-buttons-container">
                <article>
                    <h1>Een dagje uit met het hele gezin!</h1>
                    <p>Bij MBO Cinema draait het niet alleen om films, maar ook om samen genieten. Onze familievoorstellingen bieden een perfecte gelegenheid voor een uitje met het hele gezin. Van hartverwarmende animaties tot spannende avonturen: er is altijd iets te zien dat zowel jong als oud zal aanspreken.</p><br>
                    <p>Maar de ervaring houdt niet op bij de film. Onze speciale kindermenu’s maken het feest compleet, met popcorn, een drankje, en een kleine verrassing erbij! Voor ouders hebben we een breed assortiment aan snacks en drankjes om jullie filmavond extra speciaal te maken.</p><br>
                    <p>Wist je dat we ook thema-avonden organiseren? Denk aan voorstellingen met verkleedpartijen, interactieve momenten, of speciale introducties voor kinderen. Zo wordt elk bezoek een unieke ervaring.</p><br>
                    <p>Met comfortabele stoelen, ruime zalen en een gezellige sfeer is MBO Cinema de ideale plek om quality time door te brengen met je geliefden. Plan je bezoek vandaag nog en maak herinneringen die een leven lang meegaan.</p>
                </article>
                <div class="kinder-verwijs-buttons-container">
                    <a href="/search?pegi_rating=3,7"><button id="kinder-bekijk-kinderfilms">Bekijk Kinderfilms</button></a>
                    <a href="/events/1"><button id="kinder-plan-bezoek">Plan je Bezoek</button></a>
                </div>
            </div>
            <img src="{% static 'images/StockCakeFamilyMovieNight.jpg' %}">
        </section>
    </main>
    <footer>
        {% include 'components/footer.html' %}
    </footer>
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    <script src="{% static 'js/script.js' %}"></script>
</body>
</html>
