<!DOCTYPE html>
{% load static %}
<html lang="nl">
<head>
    <meta charset="UTF-8">
    <title>Inloggen / Registreren</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
    <link rel="stylesheet" href="{% static 'css/style10.css' %}">
</head>
<body>
<header>
    {% include 'components/navigationbar.html' %}
</header>
<main>
    <section class="info-page-section">
        <article class="info-title-container">
            <h1>{{ info.title }}</h1>
            <p>{{ info.info|safe }}</p>
        </article>
        <img src="{{ info.image.url }}">
    </section>
</main>
<footer>
    {% include 'components/footer.html' %}
</footer>
</body>
</html>
